* {
  box-sizing: border-box;

}
html {
  background-image: linear-gradient(to right, green, red, yellow, blue);
  font-family: Arial;
  font-size: 18px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#content {
  width: 800px;
  margin: 0 auto;
}

#content h1 {
  font-size: 3rem;
  text-align: center;
  color: maroon;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 400px;
}

#play {
  text-align: center;
  width: 100%;
  height: 50px;
  position: relative;
  margin: 0;
  left: 200px;
  border-radius: 10px;
  background: border-box green;
  cursor:pointer;
  color: #fff;
  font-weight: bold;
}

#reset {
  text-align: center;
  width: 100%;
  height: 50px;
  position: relative;
  margin: 0;
  left: 223px;
  border-radius: 10px;
  background: border-box red;
  cursor:pointer;
color: #fff;
font-weight: bold;
}

.simon-container {
  margin: 20px auto;
  width:400px;
  height:400px;
  background-color:rgb(0, 0, 0);
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 100;
}

.simon-container .simon-button {
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  padding: 100px;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.simon-button {
  cursor: pointer;
}

.simon-button.green {
  background-image: url(https://media.giphy.com/media/HCTfYH2Xk5yw/giphy.gif);
}

.simon-button.red {
  background-image: url(https://media.giphy.com/media/bWM2eWYfN3r20/giphy.gif);
}

.simon-button.yellow {
  background-image: url(https://media.giphy.com/media/UrCUcuZpJej4Y/giphy.gif);
}

.simon-button.blue {
  background-image: url(https://media.giphy.com/media/l0HUg6Ypas42ubkXu/giphy.gif);FFF ;
}

.simon-button.green.light-up, .simon-button.green:active {
  box-shadow: 10px 10px 5px rgb(131, 211, 150);
  filter: brightness(1.75);
  transform: scale(1.1);
  cursor: pointer;
}

.simon-button.red.light-up,.simon-button.red:active {
  box-shadow: 10px 10px 5px  rgb(219, 117, 117);
  filter: brightness(1.75);
  transform: scale(1.1);
  cursor: pointer;
}

.simon-button.yellow.light-up,.simon-button.yellow:active {
  box-shadow: 10px 10px 5px  rgb(253, 218, 113);
  filter: brightness(1.75);
  transform: scale(1.1);
  cursor: pointer;
}

.simon-button.blue.light-up,.simon-button.blue:active {
  box-shadow: 10px 10px 5px rgb(135, 180, 214);
  filter: brightness(1.75);
  transform: scale(1.1);
  cursor: pointer;
}
