* {
  box-sizing: border-box;

}

html {
  background-image: linear-gradient(to right, green, red, yellow, blue);
  font-family: Arial;
  font-size: 18px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#content {
  width: 800px;
  margin: 0 auto;
}

#content h1 {
  font-size: 3rem;
  text-align: center;
  color: green;
  background-image: linear-gradient(to right, green, red, yellow, blue);
}

#content h2 {
  font-size: 3rem;
  text-align: center;
  color: black;
  background-image: linear-gradient(to right, green, red, yellow, blue);
}

#content h3 {
  font-size: 3rem;
  text-align: center;
  color: black;
  background-image: linear-gradient(to right, green, red, yellow, blue);;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 400px;
}

#play {
  text-align: center;
  width: 100%;
  height: 50px;
  position: absolute;
  margin: 0;
  left: 25px;
  border-radius: 10px;
  background: border-box green;
  cursor:pointer;
  color: #fff;
  font-weight: bold;
}

/* #reset {
  text-align: center;
  width: 100%;
  height: 50px;
  position: relative;
  margin: 0;
  left: 373px;
  border-radius: 10px;
  background: border-box red;
  cursor:pointer;
  color: #fff;
  font-weight: bold;
} */

.simon-container {
  margin: 20px auto;
  width:400px;
  height:400px;
  background-color:rgb(255, 255, 255, 0);
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 100;
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(-360deg);
  }
}

.simon-container .simon-button {
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  padding: 100px;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.simon-button {
  cursor: pointer;
}

.simon-button.green {
  background-image: url(https://media.giphy.com/media/HCTfYH2Xk5yw/giphy.gif);
  border-radius: 5000px 0px 250px 0px;
}

.simon-button.red {
  background-image: url(https://media.giphy.com/media/bWM2eWYfN3r20/giphy.gif);
  border-radius: 0px 5000px 0px 250px
}

.simon-button.yellow {
  background-image: url(https://media.giphy.com/media/UrCUcuZpJej4Y/giphy.gif);
  border-radius: 0px 250px 0px 5000px;
}

.simon-button.blue {
  background-image: url(https://media.giphy.com/media/22CEvbj04nLLq/giphy.gif);
  border-radius: 250px 0px 5000px 0px ;
}

.simon-button.green.light-up, .simon-button.green:active {
  box-shadow: 10px 10px 5px rgb(131, 211, 150);
  filter: brightness(1.75);
  transform: scale(1.1);
  cursor: pointer;
}

.simon-button.red.light-up,.simon-button.red:active {
  box-shadow: 10px 10px 5px  rgb(219, 117, 117);
  filter: brightness(1.75);
  transform: scale(1.1);
  cursor: pointer;
}

.simon-button.yellow.light-up,.simon-button.yellow:active {
  box-shadow: 10px 10px 5px  rgb(253, 218, 113);
  filter: brightness(1.75);
  transform: scale(1.1);
  cursor: pointer;
}

.simon-button.blue.light-up,.simon-button.blue:active {
  box-shadow: 10px 10px 5px rgb(135, 180, 214);
  filter: brightness(1.75);
  transform: scale(1.1);
  cursor: pointer;
}
